<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>
		{% block titulo %}
		{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
	<nav>
		<ul>
			<li><a href="">Inicio</a></li>
			<li><a href="{% url 'vista_about' %}">about</a></li>
			<li><a href="{% url 'vista_formulario' %}">contacto</a></li>
			<li><a href="{% url 'vista_administracion' %}">administracion</a></li>
		</ul>
	</nav>
	{% block contenido %}

	{% endblock %}
</body>
</html>